
.center-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.primary-hover-box p {
    align-self: flex-start; /* Align <p> elements to the start (left) */
}

.Report-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.center-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}