.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.change-password-container {
    width: 100%;
    max-width: 400px;
    /* height: 200px; */
    /* margin-top: 30px;
    margin-bottom: 30px; */
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.primary-hover-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}
.sub-title {
    padding-bottom: 30px;
}