<div class="page">
    <div class="primary-hover-box">
        <div class="change-password-container">
            <div class="title">
                <h2 style="text-align: center;">Enter New Password</h2>
            </div>
            <div class="sub-title" style="text-align: center; line-height: 1.1;">Rafaella Panagiotou - Clinical
                Dietitian & Nutritionist</div>
            <form class="change-password-form" (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
                <app-primary-input-field [label]="'New Password'" [control]="changePasswordForm.controls.password"
                    [errorMessages]="passwordErrorMessages" [showErrorOnControlDirty]="showErrorOnControlDirty"
                    [showErrorOnControlTouched]="showErrorOnControlTouched"></app-primary-input-field>
                <app-primary-input-field [label]="'Confirm New Password'"
                    [control]="changePasswordForm.controls.confirmPassword"
                    [errorMessages]="confirmPasswordErrorMessages" [showErrorOnControlDirty]="showErrorOnControlDirty"
                    [showErrorOnControlTouched]="showErrorOnControlTouched"></app-primary-input-field>
                <app-error [errorMessage]="cacheValidationError" style="padding-top: 10px;"></app-error>
                <app-error [errorMessage]="emailOrOtpIsMissingError" style="padding-top: 20px;"></app-error>
                <button class="primary-button" type="submit" style="width: 100%; margin-top: 10px;">Update
                    Password</button>
            </form>
        </div>
    </div>
</div>