<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="flex-container">
        <div class="primary-hover-box">
            <h1 class="title">Manage Client {{ client?.fullName }}</h1>
            <button type="button" class="primary-button" (click)="navigateTo('/clients/:clientId/diets')">Client's Diets</button>
            <button type="button" class="primary-button" (click)="navigateTo('/clients/:clientId/edit-details')">Edit Client's Details</button>
            <button type="button" class="primary-button" (click)="navigateTo('/clients/:clientId/history')">View History</button>
            <button type="button" class="primary-button" (click)="navigateTo('/clients/:clientId/add-metrics')">Add Metrics</button>
            <button type="button" class="primary-button" (click)="navigateTo('/clients/:clientId/note')">Manage Note</button>
            <button type="button" class="primary-button-danger" (click)="navigateTo('/clients/:clientId/delete')">Delete Client</button>
        </div>
    </div>
</div>