  .review {
    border: 2px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 95%; /* Max-width for small screens */
    margin-left: auto; 
    margin-right: auto;
    border-radius: 15px; /* Add rounded edges */
  }

  @media (min-width: 600px) {
    .review {
      max-width: 900px; /* Max-width for medium screens and above */
    }
  }

  .primary-button {
    width: fit-content;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .star-rating {
    display: flex;
    flex-direction: row;
  }
  
  .star-rating span {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .star-rating .filled {
    color: gold;
  }