<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="content-container">
        <div class="primary-hover-box">
            <h2>{{ name }}</h2>
            <div class="recipe-detail">
                <strong>Ingredients:</strong>
                <p>{{ ingredients }}</p>
            </div>
            <div class="recipe-detail">
                <strong>Directions:</strong>
                <p>{{ description }}</p>
            </div>
            <div class="recipe-detail">
                <strong>Protein:</strong>
                <p>{{ protein }} g</p>
            </div>
            <div class="recipe-detail">
                <strong>Carbs:</strong>
                <p>{{ carbs }} g</p>
            </div>
            <div class="recipe-detail">
                <strong>Fat:</strong>
                <p>{{ fats }} g</p>
            </div>
            <div class="recipe-detail">
                <strong>Calories:</strong>
                <p>{{ calories }}</p>
            </div>
        </div>
    </div>
</div>