<div class="page">
  <app-nav-bar></app-nav-bar>
  <div class="review-container">
    <div class="primary-hover-box">
      <div class="hover-box">
        <div class="title-box">
          <h1 class="title" style="margin: 0px; margin-bottom: 20px;">Add a Review</h1>
        </div>
        <div class="review">
          <form class="reviewForm-form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <div class="star-rating">
                <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)" [ngClass]="{'filled': i < reviewForm.controls['Stars'].value!}">
                  &#9733;
                </span>
              </div>
            </div>

            <div class="form-group">
              <textarea id="reviewText" formControlName="Review Text" rows="4" placeholder="Enter your review here..." class="auto-resize"></textarea>
            </div>

            <div class="form-group">
              <label>
                <input type="checkbox" formControlName="Anonymous" [value]="true">
                Anonymous Review
              </label>
            </div>

            <button type="submit" class="primary-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>