.metrics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}


.hover-box {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

.client-metrics {
    margin-bottom:-1%;
}

.addMetrics-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px; 
    padding-left: 13%;
    padding-right: 13%;
}

.primary-button{
    width: 100%;
}


@media (max-width: 900px) {
    .hover-box{
        margin-bottom: 25px;
    }
    .hover-box {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: fit-content;
    }

    .primary-hover-box {
        padding: 0;
    }

    .title-box {
        border-right: none;
        height: min-content;
        flex: 1;
    }

    .client-credentials {
        width: 90%;
        overflow-x: hidden;

    }

    .title {
        text-align: center;
    }

    .sub-title {
        text-align: center;
    }

    .client-credentials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-right: 10px;
        max-height: none;
        max-width: 500px;
        padding-bottom: 30px;
    }
    .title {
        padding-top: 30px;
    }
}
