*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(167, 91, 5, 0.384), rgba(160, 88, 6, 0.384));
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x:hidden;
}

.primary-input-field.form-control {
    width: 300px;
    height: 45px;
    background: white;
    border-radius: 15px;
    border: 2px #C8C8C8 solid;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}

/* TODO: MEDIA FOR SMALLER SCREENS, UP THE WIDTH % I THINK */
.primary-hover-box { 
    max-width: 1500px;
    width: 60%;
    height: auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-top: 5px solid #FFB453;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

@media (max-width: 1100px) {
    .primary-hover-box {
        width: 90%;
        height: auto;
        padding-bottom: 50px;
        margin-bottom: 100px;
    }
    
}

.title {
    font-weight: 550;
    font-size: 55px;
    color: black;
}

.sub-title {
    opacity: 0.80;
    color: #FFB453;
    font-size: 24px;
    font-weight: 400;
}

.link {
    opacity: 0.80;
    color: #FFB453;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;

}

.error {
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
    font-style: italic;
}


.primary-button {
    height: 45px;
    width: 270px;
    background-color: #FFB453;
    border-radius: 15px;
    border: none; /* Remove border color property */
    color: white;
    font-size: 20px; 
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
    padding-left: 20px;
    padding-right: 20px;
}

.primary-button:hover {
    background-color: #FFA726; /* Slightly darker shade for hover effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.primary-button:active {
    background-color: #FF9800; /* Even darker shade for active state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow on active */
}

.primary-button-danger {
    height: 45px;
    width: 270px;
    background-color: #f7614d;
    border-radius: 15px;
    border: none; /* Remove border color property */
    color: white;
    font-size: 20px; 
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
    padding-left: 20px;
    padding-right: 20px;

}

.primary-button-danger:hover {
    background-color: #f0442d; /* Slightly darker shade for hover effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.primary-button-danger:active {
    background-color: #f0442d; /* Even darker shade for active state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow on active */
}


.primary-text-area {
    width: 300px;
    height: 150px;
    background: white;
    border-radius: 15px;
    border: 2px #C8C8C8 solid;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    outline: none;
}

.primary-text-area:focus {
    border: 2px #FFB453 solid;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
