<div class="page">
  <app-nav-bar></app-nav-bar>
  <div class="diets-container" *ngIf="diet; else loading">
    <h1 class="title">Diet Plan for Client</h1>
    <table class="diet-table">
      <thead>
        <tr>
          <th>Meal Type</th>
          <!-- Iterate over the day objects from the fetched diet -->
          <th *ngFor="let day of diet.dietDays">{{ day.dayName }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- For each meal type, create a row -->
        <tr *ngFor="let mealType of mealTypes">
          <td>{{ mealType }}</td>
          <!-- For each day, display the corresponding meal based on MealType -->
          <td *ngFor="let day of diet.dietDays">
            <div *ngIf="getMealForDay(day, mealType) as meal; else notAvailable">
              {{ meal.meal }}
            </div>
            <ng-template #notAvailable>
              N/A
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <p>12345</p>
  </ng-template>
</div>