<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="page-content">
        <div class="primary-hover-box">
            <div class="info-container">
                <div class="title">Search Client</div>
                <div class="sub-title">Rafaella Panagiotou - Clinical Dietitian</div>
                <div> Please Enter the Phone Number of the Client to Manage </div>

            </div>
            <div>
                <div class="credentials-title">Client Credentials</div>
                <form [formGroup]="searchClientForm" (ngSubmit)="searchClient()">
                    <app-primary-input-field [label]="'Phone Number'" [control]="searchClientForm.controls.phoneNumber" [errorMessages]="phoneNumberErrorMessages" [showErrorOnControlDirty]="displayErrorOnControlDirty" [showErrorOnControlTouched]="displayErrorOnControlTouched"></app-primary-input-field>
                    <app-error style="text-align: center;" [errorMessage]="phoneNumberExistsMessage"></app-error>
                    <button type="submit" class="primary-button">Search</button>
                </form>

                <div class="sign-up-container">
                    Sign a New Client Up:
                    <button routerLink="../auth/register" class="primary-button">Sign Up</button>
                </div>
            </div>
        
        <div class="search-container">
            <div class="search-bar">
                <input [formControl]="searchNameControl" placeholder="Search by name">
                <input [formControl]="searchDietTypeControl" placeholder="Search by diet type">
        
                <select [(ngModel)]="sortOrder" (change)="sortClients()" class="sort-dropdown">
                    <option value="asc">Sort: A → Z</option>
                    <option value="desc">Sort: Z → A</option>
                </select>

            </div>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Diet Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of filteredClients">
                    <td>
                        <a [routerLink]="['/clients', client.id]" class="unstyled-link">
                            {{ client.fullName }} 
                        </a>
                    </td>                    
                    <td>{{ client.dietTypeName }}</td>
                </tr>
            </tbody>
    
        </table>
    </div>
    </div>
</div>