<div class="page">
    <app-nav-bar></app-nav-bar>

    <div class="loginFormContainer">
        <div class="primary-hover-box">
            <form [formGroup]="loginForm"
                style="height: 100%; display: flex; justify-content: center; align-items: center;"
                (ngSubmit)=" login()">

                <div
                    style="height: 100%; display: flex; flex-direction: column; justify-content: center; gap: 10px; align-items: center;">

                    <h1 class="title" style="text-align: center; margin: 0px;">Sign In</h1>

                    <p class="sub-title" style="text-align: center;">Rafaella Panagiotou - Clinical Dietitian &
                        Nutritionist</p>

                    <div style="width: 80%; display: flex; flex-direction: column; gap: 20px; align-items: center;">
                        <h1 style="text-align: left; width: 100%;" class="form-title">Client Credentials</h1>
                       

                            <app-primary-input-field [label]="'Phone Number'" [placeholder]="'Phone Number'"
                                [control]="loginForm.controls.phoneNumber" [errorMessages]="phoneNumberErrorMessages"
                                [showErrorOnControlTouched]="displayErrorOnControlTouched"
                                [showErrorOnControlDirty]="displayErrorOnControlDirty" style="width: 100%;">
                            </app-primary-input-field>

                            <app-primary-input-field [label]="'Password'" [placeholder]="'Password'"
                            [type]="'password'"
                                [control]="loginForm.controls.password" [errorMessages]="passwordErrorMessages"
                                [showErrorOnControlTouched]="displayErrorOnControlTouched"
                                [showErrorOnControlDirty]="displayErrorOnControlDirty" style="width: 100%;">
                            </app-primary-input-field>

                            @if(isUnAuthorizationMessageActive)
                            {
                            <app-error [errorMessage]="unauthorizedErrorMessage" [removeTextMargin]="true" />
                            }

                            <button type="submit" class="primary-button" style="width: 100%">Sign in</button>

                            <a class="link"  style="margin: 0px;" routerLink="../forgot-password" routerLinkActive="active" >Forgot Password?</a>
                        </div>
                    </div>

            </form>
        </div>

    </div>
    <!-- <div style="flex-grow: 1;"></div> -->
    <!-- <app-page-footer ></app-page-footer> -->

</div>
