.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* min-height: calc(100vh - 200px);  */
    padding: 20px 0; /* Prevent overlap on small screens */
    padding-top: 0;
    box-sizing: border-box;
}

.form-title {
    font-size: x-large;
    margin: 0px;
}

.page {
    min-height: 100vh;
    width: 100%;
}