<div class="input-container">
    <div class="form-floating" style="width: 100%; ">
        <input [type]="type === 'password' ? (showPassword ? 'text' : 'password') : type" [placeholder]="placeholder" class="primary-input-field form-control"
            [formControl]="control" style="width: 100%;">
        <label>{{label}}</label>
         <!-- Toggle password visibility button -->
         @if (type === 'password') {
            <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility($event)">
                <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        }
    </div>

    <div style="text-align: center;">
        <app-reactive-form-error [control]="control" [errorMessages]="errorMessages"
            [showOnControlTouched]="showErrorOnControlTouched" [showOnControlDirty]="showErrorOnControlDirty"></app-reactive-form-error>
    </div>
</div>