<footer class="page-footer">
    <div class="footer-content">
        <div class="info-container">
            <div style="font-weight: bold; margin-bottom: 10px;">NUTRITION SECRETS</div>
            <div>Rafaella Panagiotou</div>
            <div>Clinical Dietitian & Nutritionist</div>
            <div style="text-align: start;">Marinou Geroulanou 51, 4154, Limassol, Cyprus</div>
            <div>{{email}}</div>
            <div>+357 97722869</div>
            <div class="icon-container">
                <a href="https://www.facebook.com/nutritionsecretscy/" style="color: black;" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/nutritionsecretscy/" style="color: black;" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
            </div>

        </div>
        <nav class="footer-nav">
            <img src="/images/DietitianLogo.png" class="main-icon" alt="DietitianLogo">
        </nav>
    </div>
</footer>