.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 150%;
    box-sizing: border-box;
}

.primary-button {
    margin: 0 10px;
}



.metrics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}


.hover-box {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}

a {
    color: black;
    text-decoration: none;
    display: block; /* Ensure the anchor tag is a block element */
    transition: transform 0.3s ease; /* Smooth transition */
}

a:hover {
    transform: scale(1.03); /* Scale up the card on hover */
}




app-metric-card {
    display: block; /* Ensure the metric card is a block element */
}
/* .client-metrics {
    
} */



@media (max-width: 900px) {
    .hover-box {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: fit-content;
    }

    .primary-hover-box {
        padding: 0;
    }

    .title-box {
        border-right: none;
        height: min-content;
        flex: 1;
    }

    .client-credentials {
        width: 90%;
        overflow-x: hidden;

    }

    .title {
        text-align: center;
    }

    .sub-title {
        text-align: center;
    }

    .client-credentials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-right: 10px;
        max-height: none;
        max-width: 500px;
        padding-bottom: 30px;
    }
    .title {
        padding-top: 30px;
    }
}
