<head>
  <!-- Other head content -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="page">
  <app-nav-bar></app-nav-bar>
  
  
  <div class="metrics-container">
    <div class="primary-hover-box">
      <div class="hover-box">
        <div class="title-box">
          <h1 class="title" style="margin: 0px; margin-bottom: 20px;">Metrics of {{clientName}}</h1>
        </div>
      
      <div class="StartEndDate">

                   <form [formGroup]="dateSearchForm" class="date-search">
                      <div class="form-floating" style="width: 100%;">
                        <div class="StartDate">
                          <label for="startDate">Start Date:</label>
                          <input type="date" id="startDate" formControlName="startDate">
                        </div>
                        <div class="EndDate">
                          <label for="endDate">End Date:</label>
                          <input type="date" id="endDate" formControlName="endDate">
                        </div>

                    </div>
                  </form> 

      </div>

      <div class="metricsFoundAndAddNew">
        <p class="MetricsFound"><i class="fa-solid fa-circle-info"></i> Found {{filteredMetrics.length}} metrics. </p>
        <button (click)="openAddMetricsModal(clientId)" class="AddNewButton"><i class="fa-solid fa-plus"></i>Add New</button>
      </div>
      
        <!-- Table of Metrics Using Paged Items -->
        <table>
          <thead>
            <tr>
              <th style="width: 40px; margin-right: 80px;">Date</th>
              <th class="thHeaders">Body Weight</th>
              <th class="thHeaders">Fat Mass</th>
              <th class="thHeaders">Muscle Mass</th>
              <th style="width: 65px;margin-right: 65px;"></th>
            </tr>
          </thead>
          <tbody>
            @for (metric of pagedItems; track metric.date) {
              <tr>
                <td data-label="Date">
                    <h2>{{ metric.date }}</h2>
                </td>
                <td data-label="Body Weight">
                    {{ metric.data[0].value }} {{ metric.data[0].unit }}
                </td>
                <td data-label="Fat Mass">
                    {{ metric.data[1].value }} {{ metric.data[1].unit }}
                </td>
                <td data-label="Muscle Mass">
                    {{ metric.data[2].value }} {{ metric.data[2].unit }}
                </td>
                <td data-label="Actions">
                    <button (click)="openEditMetricsModal(metric.id)" class="EditButton">
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                    </button>
                </td>
              </tr>
            }
          </tbody>
        </table>

        
      <div class="pagination-container">
        <app-pagination 
          [totalItems]="filteredMetrics.length"
          [pageSize]="pageSize"
          [currentPage]="currentPage"
          (pageChanged)="onPageChanged($event)">
        </app-pagination>
      </div>
        

      </div>
    </div>
  </div>
</div>