.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.primary-hover-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 460px;
    width: 100%;
}

.detail-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #C8C8C8;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-value {
    font-size: 20px;
    color: #333;
    background-color: rgb(240, 240, 240);
    padding-left: 20px;
}