<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="flex-container">
        <div class="primary-hover-box">
            <h1 class="title">Client Details for {{ client?.fullName }}</h1>
            
            <div class="details-container">
                <div class="detail-item">
                    <label>Full Name</label>
                    <span class="detail-value">{{ client?.fullName }}</span>
                </div>

                <div class="detail-item">
                    <label>Phone Number</label>
                    <span class="detail-value">{{ client?.phoneNumber }}</span>
                </div>

                <div class="detail-item">
                    <label>Email</label>
                    <span class="detail-value">{{ client?.email }}</span>
                </div>

                <div class="detail-item">
                    <label>Height</label>
                    <span class="detail-value">{{ client?.height }}</span>
                </div>

                <div class="detail-item">
                    <label>Diet Type</label>
                    <span class="detail-value">{{ client?.dietTypeName }}</span>
                </div>

                <div class="detail-item">
                    <label>Gender</label>
                    <span class="detail-value">{{ client?.gender }}</span>
                </div>

                <div class="detail-item">
                    <label>Age</label>
                    <span class="detail-value">{{ calculateClientAge(client) }}</span>
                </div>
            </div>
            <button type="button" class="primary-button" (click)="navigateTo('/clients/:clientId/edit-details')">Edit Details</button>

        </div>

    </div>
</div>