nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
}

ul {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 50px;
}
.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f79f2c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa-bars  {
    display: none;
}
nav .fa-xmark {
    display: none;
}

@media (max-width: 1100px) {
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: rgb(248, 185, 68);
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
    }

    nav .fa-bars  {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa-xmark {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}