<div style="flex-grow: 1"></div>
<nav>
    <a><img src="/images/DietitianLogo.png"></a>
    <div class="nav-links" #navLinks>
        <i class="fa-solid fa-xmark" (click)="hideMenu()"></i>

        <ul>
            <li><a href="#">MANAGE DATA</a></li>
            <li><a href="#">MANAGE CLIENTS</a></li>
            <li><a href="#">MANAGE TEMPLATES</a></li>
            <li><a href="#">STATISTICS</a></li>
            <li><a href="#">ABOUT US</a></li>
            <!-- <li ><a href="#">Contact Us</a></li>
            <li ><a href="#">Services</a></li> -->
            <!-- <li ><a href="#">Advice/Articles</a></li>
            <li ><a href="#">Recipes</a></li> -->
            <li><a href="#">UPLOADS</a></li>
            <li><a href="#">MY DIET</a></li>
            <li><a href="#">SIGN OUT</a></li>

        </ul>
    </div>
    <i class="fa-solid fa-bars" (click)="showMenu()"></i>
</nav>
