<div style="flex-grow: 1"></div>
<nav>
    <a routerLink="/"><img src="/images/DietitianLogo.png"></a>
    <div class="nav-links" #navLinks>
        <i class="fa-solid fa-xmark" (click)="hideMenu()"></i>

        <ul>
            @if (role() == "admin") {
                <li><a routerLink="/auth/register">REGISTER CLIENT</a></li>
                <li><a routerLink="/clients">MANAGE CLIENTS</a></li>
                <li><a routerLink="/manage-data">MANAGE DATA</a></li>
                <li><a routerLink="/manage-templates">MANAGE TEMPLATES</a></li>                <li><a href="#">STATISTICS</a></li>
                <li><a routerLink="/uploads">UPLOADS</a></li>
                <!-- <li><a href="#">MY DIET</a></li> -->
                <li><a routerLink="/about-us">ABOUT US</a></li>
                <li><a (click)="logout()">SIGN OUT</a></li>

            }
            @else if(role() == "client") {
                <li><a routerLink="/uploads" class="dropbtn">UPLOADS</a></li>
                <li><a routerLink="/my-diets">MY DIETS</a></li>
                <li><a routerLink="/about-us">ABOUT US</a></li>
                <li><a (click)="logout()">SIGN OUT</a></li>
            }@else {
                <li><a routerLink="/about-us">ABOUT US</a></li>
                <li><a routerLink="/auth/login">SIGN IN</a></li>
            }
        </ul>
    </div>
    <i class="fa-solid fa-bars" (click)="showMenu()"></i>
</nav>