<div style="flex-grow: 1"></div>
<nav>
    <a routerLink="/"><img src="/images/DietitianLogo.png"></a>
    <div class="nav-links" #navLinks>
        <i class="fa-solid fa-xmark" (click)="hideMenu()"></i>

        <ul>
            @if (role() == "admin") {
                <li><a routerLink="/auth/register">REGISTER CLIENT</a></li>
                <li><a routerLink="/clients">MANAGE CLIENTS</a></li>
                <li><a routerLink="/manage-data">MANAGE DATA</a></li>
                <li><a href="#">MANAGE TEMPLATES</a></li>
                <li><a href="#">STATISTICS</a></li>
                <li class="dropdown">
                    <a routerLink="/uploads" class="dropbtn">UPLOADS</a>
                    <ul class="dropdown-content">
                      <li><a routerLink="/recipes">Recipes</a></li>
                      <li><a routerLink="/advice/view">Advice</a></li>
                      <li><a routerLink="/uploads/articles">Articles</a></li>
                    </ul>
                  </li>
                <!-- <li><a href="#">MY DIET</a></li> -->
                <li><a routerLink="/about-us">ABOUT US</a></li>
                <li><a (click)="logout()">SIGN OUT</a></li>

            }
            @else if(role() == "client") {
                <li class="dropdown">
                    <a routerLink="/uploads" class="dropbtn">UPLOADS</a>
                    <ul class="dropdown-content">
                      <li><a routerLink="/recipes">Recipes</a></li>
                      <li><a routerLink="advice/view">Advice</a></li>
                      <li><a routerLink="/uploads/articles">Articles</a></li>
                    </ul>
                  </li>
                <li><a href="#">MY DIET</a></li>
                <li><a routerLink="/about-us">ABOUT US</a></li>
                <li><a (click)="logout()">SIGN OUT</a></li>
            }@else {
                <li><a routerLink="/about-us">ABOUT US</a></li>
                <li><a routerLink="/auth/login">SIGN IN</a></li>
            }
        </ul>
    </div>
    <i class="fa-solid fa-bars" (click)="showMenu()"></i>
</nav>