.sub-title {
    line-height: 1.2;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfield {
    max-width: 400px;
}

.primary-button {
    max-width: 400px;
    
}