<div class="page d-flex justify-content-center align-items-center">
    <div class="primary-hover-box">
        <div class="title d-flex justify-content-center py-3 ">
            Forgot Password
        </div>
        <div class="sub-title d-flex justify-content-center">
            Rafaella Panagiotou - Clinical Dietitian & Nutritionist
        </div>
        <div class="sub-title d-flex justify-content-center" style="color: black; font-size: larger;">
            <p style="text-align: center; font-weight: 500;"> Please enter your email address to receive the OTP <br /> in order to change
                your password</p>
        </div>
        <div class="forgot-password-container" style=" gap: 30px">

            <form style="width: 100%;" [formGroup]="emailForm" (ngSubmit)="sendOtp()">
                <div class="forgot-password-container" style=" gap: 20px">
                    <div class="d-flex justify-content-center" style="width: 100%;">

                        <div class="d-flex justify-content-center align-items-center"
                            style="flex-direction: column; width: 100%;">

                            <app-primary-input-field [label]="'Email'" [control]="emailForm.controls.emailFormControl"
                                [errorMessages]="emailErrorMessages" [showErrorOnControlDirty]="showErrorOnControlDirty"
                                [showErrorOnControlTouched]="showErrorOnControlTouched"
                                style="width: 30%;"></app-primary-input-field>
                            <app-error [errorMessage]="emailExistsError" style="text-align: center;"></app-error>

                        </div>
                    </div>

                    <button type="submit" class="primary-button" style="width: 30%;">Send OTP</button>
                </div>
            </form>

            <form class="d-flex" style="flex-direction: column; width: 100%; align-items: center; gap: 20px;" [formGroup]="forgotPasswordForm" (ngSubmit)="verifyOtp()">
                <div class="d-flex justify-content-center" style="width: 100%; flex-direction: column; align-items: center;">
                    <app-primary-input-field [label]="'OTP'" [control]="forgotPasswordForm.controls.otp"
                        [errorMessages]="otpErrorMessages" [showErrorOnControlDirty]="showErrorOnControlDirty"
                        [showErrorOnControlTouched]="showErrorOnControlTouched"
                        style="width: 30%;"></app-primary-input-field>
                    <app-error [errorMessage]="otpVerifiedError" style="text-align: center;"></app-error>
                </div>

                <button type="submit" class="primary-button" style="width: 30%;">Change Password</button>
            </form>
        </div>

    </div>
</div>