
.center-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-bottom: 2%;
}

.primary-button {
    width: 100%; /* Make the button take full width on smaller screens */
    max-width: 400px; /* Set a maximum width for larger screens */
    padding: 10px 15px; /* Add padding for better usability */
    font-size: 16px; /* Adjust font size for readability */
    text-align: center; /* Center the button text */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    display: block; /* Make the button a block element */
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .primary-button {
        max-width: 100%; /* Remove max-width for smaller screens */
        font-size: 14px; /* Slightly smaller font size for mobile */
    }
}

.form-group {
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%; 
}
