.page {
    width: 100%;
    height: 100vh;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-subtitle-box {
    border-right: 1px solid #C8C8C8; 
    flex: 5;
}

.split-hover-box {
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
    padding-right : 30px;
    height: 550px;
}

@media (max-width: 768px) {
    .split-hover-box {
        flex-direction: column;
        align-items: center;
    }    
    .title-subtitle-box {
        border-right: none;
        height: min-content;
        flex: 1;
    }
}

.client-credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-height: 550px; /* Adjust based on your needs */
    overflow-y: auto;
    padding-right: 10px; /* To prevent content from touching the scrollbar */
}

.register-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-left: 13%;
    padding-right: 13%;
}
