.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-subtitle-box {
    border-right: 1px solid #C8C8C8;
    flex: 5;
}

.split-hover-box {
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    height: 550px;
}

.client-credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-height: 550px;
    /* Adjust based on your needs */
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    /* To prevent content from touching the scrollbar */
    min-width: 200px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-left: 13%;
    padding-right: 13%;
}

@media (max-width: 900px) {
    .split-hover-box {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: fit-content;
    }

    .primary-hover-box {
        padding: 0;
    }

    .title-subtitle-box {
        border-right: none;
        height: min-content;
        flex: 1;
    }

    .client-credentials {
        width: 90%;
        overflow-x: hidden;

    }

    .title {
        text-align: center;
    }

    .sub-title {
        text-align: center;
    }

    .client-credentials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-right: 10px;
        max-height: none;
        max-width: 500px;
        padding-bottom: 30px;
    }
    .title {
        padding-top: 30px;
    }
}
