<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="appointmentsContainer">
        <div class="primary-hover-box">
            <div class="infoBox">
                <div class="RegisterAnAppointmentContainer">
                    <a><img src="/images/logoDietitian.png" class="logo"></a>
                    <div class="steps">
                        <h1 class="Step1">Step 1</h1>
                        <h1 class="Step1">Step 2</h1>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="divisionLine"></div>
            
            <app-calendar class="calendar"></app-calendar>
        </div>
    </div>
</div>    