<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="appointmentsContainer">
        <div class="primary-hover-box">
            <div class="infoBox">
                <div class="RegisterAnAppointmentContainer">
                    <a><img src="/images/logoDietitian.png" class="logo"></a>
                    <h1 class="ManageAnAppointment">Manage An Appointment</h1>
                    <div class="steps">
                            <h1 class="Step1Text">Step 1</h1>
                            <h1 class="Step2Text">Step 2</h1>
                        <div class="step1">
                            <i class="fa-regular fa-calendar"></i>
                            <p class="selectDate">Day</p>
                        </div>
                        <div class="lineBetweenSteps"></div>
                        <div class="step2">
                            <i class="fa-solid fa-clock"></i>
                            <p class="selectTime">Time</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="divisionLine"></div>
            <h1 class="SelectADate" >Select a Date</h1>
            <app-calendar class="calendar"></app-calendar>
        </div>
    </div>
</div>    