<div class="page">
    <app-nav-bar></app-nav-bar>
    <div class="about-container">
        <div class="primary-hover-box">
            <div class="logo-section">
                <img src="/images/cut.png" alt="Company Logo" class="company-logo">
            </div>

            <div class="about-content">
                <h1>About Us</h1>
                <p class="mission-statement">
                    Το σύστημα αναπτύχθηκε από τους Θεοδόσης Ξενοφώντος, Αντρέας Πελεκάνος, Αντρέας Νικήτας, Παναγιώτης
                    Αντωνίου, Κήρυκος Σταυρίδης και Δημήτρης Καουρής
                    , τριτοετείς φοιτητές του τμήματος Ηλεκτρολόγων
                    Μηχανικών και Μηχανικών Ηλεκτρονικών Υπολογιστών και Πληροφορικής του Τεχνολογικού Πανεπιστημίου
                    Κύπρου, υπό την επίβλεψη του Καθηγητή Ανδρέα Σ. Ανδρέου στα πλαίσια του μαθήματος “Εργασία
                    Τεχνολογίας Λογισμικού και Επαγγελματική Πρακτική” του πτυχίου Μηχανικών Ηλεκτρονικών
                    Υπολογιστών
                    και Πληροφορικής.
                    Λεμεσός, Μάιος 2025
                    Copyright © Cyprus University of Technology
                </p>
            </div>
        </div>
    </div>
</div>