.metric-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  

  @media (max-width: 900px) {
    .metric-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px 20vi;
      margin: 8px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }
}
